#content {
    padding: 20px 50px;
}

svg {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAdCAMAAACKeiw+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////9fb3h/JDwQAAABtJREFUeNpiYMQLGBgZ8IJR6VHpUWnKpAECDACcGgA72QxfPgAAAABJRU5ErkJggg==);
  border: solid 1px #ddd;
}
svg .circle, svg .rect {
  fill: #A6E7EF;
}
svg circle:hover, rect:hover{
  cursor: pointer;
}
svg circle:active, rect:active{
}
svg .link_line {
}
svg .data-circle {

}