{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}USA{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}{{app_name}}/custom.css" >
    <style>
        svg {
          background: url({{STATIC_URL}}{{app_name}}/data_center.png) no-repeat;
          background-size: 100% 100%;
        }
    </style>
{% endblock css %}

{% block managers %}
    {% searchmanager 
        id="appSearchManager" 
        search="$searchquery$"|token_safe
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        preview=True 
        required_field_list="*"
        autostart=False %}
{% endblock managers %}

{% block content %}
    <div id="content">
        <div class="row" id="searchPanel" style="display: none">
            {% searchbar
                id="appSearchBar" 
                managerid="appSearchManager"
                value="$searchquery$"|token_safe
                timerange_earliest_time="$earlyval$"|token_safe
                timerange_latest_time="$lateval$"|token_safe
                earliest_time="$earlyval$"|token_safe
                latest_time="$lateval$"|token_safe
                default="" %}
            {% searchcontrols 
                id="appSearchControls" 
                managerid="appSearchManager" %}
        </div>
        <div class="row">
            <svg width="100%" height="600" />
        </div>
        <div class="row">
            <button id="btnSave" class="btn" type="button" style="display: none"><i class="icon-export"></i> Save</button>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>

        // Configure require config for bower components
        require.config({
            paths: {
                'd3': '{{STATIC_URL}}{{app_name}}/bower_components/d3/d3',
                'jquery-easing': '{{STATIC_URL}}{{app_name}}/bower_components/jquery.easing/js/jquery.easing'
            },
            shim: {
                'd3': {
                  deps: ['jquery']
                },
                'jquery.easing': {
                  deps: ['jquery']
                }
            }
        });

        // Start with require if you need to execute some js code
        require([
            'backbone',
            'underscore',
            'sam/routers/router',
            'splunkjs/ready!',
            'jquery-easing'], function(Backbone, _, Router) {
            var mainRouter = new Router();
            Backbone.history.start();

            var links = [ 
                  { source: 'LB', target: 'WS1', weight: Math.round(Math.random() * 10)},
                  { source: 'LB', target: 'WS2', weight: Math.round(Math.random() * 10)},
                  { source: 'LB', target: 'WS3', weight: Math.round(Math.random() * 10)},
                  { source: 'WS1', target: 'LB', weight: Math.round(Math.random() * 10)},
                  { source: 'WS2', target: 'LB', weight: Math.round(Math.random() * 10)},
                  { source: 'WS3', target: 'LB', weight: Math.round(Math.random() * 10)},

                  { source: 'WS1', target: 'DB1', weight: Math.round(Math.random() * 10)},
                  { source: 'WS2', target: 'DB1', weight: Math.round(Math.random() * 10)},
                  { source: 'WS3', target: 'DB1', weight: Math.round(Math.random() * 10)},
                  { source: 'WS1', target: 'DB2', weight: Math.round(Math.random() * 10)},
                  { source: 'WS2', target: 'DB2', weight: Math.round(Math.random() * 10)},
                  { source: 'WS3', target: 'DB2', weight: Math.round(Math.random() * 10)},
                  { source: 'DB1', target: 'WS1', weight: Math.round(Math.random() * 10)},
                  { source: 'DB1', target: 'WS2', weight: Math.round(Math.random() * 10)},
                  { source: 'DB1', target: 'WS3', weight: Math.round(Math.random() * 10)},
                  { source: 'DB2', target: 'WS1', weight: Math.round(Math.random() * 10)},
                  { source: 'DB2', target: 'WS2', weight: Math.round(Math.random() * 10)},
                  { source: 'DB2', target: 'WS3', weight: Math.round(Math.random() * 10)},

                  { source: 'WW1', target: 'DB2', weight: Math.round(Math.random() * 10)},
                  { source: 'WW1', target: 'DB3', weight: Math.round(Math.random() * 10)},
                  { source: 'WW2', target: 'DB2', weight: Math.round(Math.random() * 10)},
                  { source: 'WW2', target: 'DB3', weight: Math.round(Math.random() * 10)},
                  { source: 'DB2', target: 'WW1', weight: Math.round(Math.random() * 10)},
                  { source: 'DB3', target: 'WW1', weight: Math.round(Math.random() * 10)},
                  { source: 'DB2', target: 'WW2', weight: Math.round(Math.random() * 10)},
                  { source: 'DB3', target: 'WW2', weight: Math.round(Math.random() * 10)},

                  { source: 'DB1', target: 'DB2', weight: Math.round(Math.random() * 10)},
                  { source: 'DB2', target: 'DB1', weight: Math.round(Math.random() * 10)},
                  { source: 'DB2', target: 'DB3', weight: Math.round(Math.random() * 10)},
                  { source: 'DB3', target: 'DB2', weight: Math.round(Math.random() * 10)}
              ];

            setTimeout(function() {
                setInterval(function() {
                    _.each(links, function(l) {
                        l.weight = Math.round(Math.random() * 10);
                    });

                    mainRouter.pageView().updateLinks(links);
                }, 500);
            }, 2000);
            
        });

    </script>
{% endblock js %}
