{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}{{app_name}}/custom.css" >
{% endblock css %}

{% block managers %}
    {% searchmanager 
        id="appSearchManager" 
        search="$searchquery$"|token_safe
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        preview=True 
        required_field_list="*"
        autostart=False %}
{% endblock managers %}

{% block content %}
    <div id="content">
        <div class="row" id="searchPanel">
            {% searchbar
                id="appSearchBar" 
                managerid="appSearchManager"
                value="$searchquery$"|token_safe
                timerange_earliest_time="$earlyval$"|token_safe
                timerange_latest_time="$lateval$"|token_safe
                earliest_time="$earlyval$"|token_safe
                latest_time="$lateval$"|token_safe
                default='source=stream | eval source_addr=src_ip + ":" + src_port | eval destination_addr = dest_ip + ":" + dest_port | eval uni_id=source_addr+","+ destination_addr    | dedup source_addr destination_addr  | spath timestamp | eval tsl=len(timestamp) | eval timestamp=substr(timestamp, 0, tsl-1) + "GMT" | eval _time=strptime(timestamp, "%Y-%m-%dT%H:%M:%S.%6N%Z") | bin _time span=1sec | rename _raw AS orig_raw |  stats sum(bytes) AS total_bytes sum(bytes_in) AS total_bytes_in sum(bytes_out) AS total_bytes_out by src_ip dest_ip | rename src_ip as source dest_ip as target total_bytes as weight'
            %}
            {% searchcontrols 
                id="appSearchControls" 
                managerid="appSearchManager" %}
        </div>
        <div class="row">
            <svg width="100%" height="600" />
        </div>
        <div class="row">
            <button id="btnSave" class="btn" type="button"><i class="icon-export"></i> Save</button>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>

        // Configure require config for bower components
        require.config({
            paths: {
                'd3': '{{STATIC_URL}}{{app_name}}/bower_components/d3/d3'
            },
            shim: {
                'd3': {
                    deps: ['jquery']
                }
            }
        });

        // Start with require if you need to execute some js code
        require([
            'backbone',
            'underscore',
            'sam/routers/router',
            'splunkjs/ready!'], function(Backbone, _, Router) {
            var mainRouter = new Router();
            Backbone.history.start();
/*
            var links = [ {
                  source: 0,
                  target: 5,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 0,
                  target: 2,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 1,
                  target: 3,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 2,
                  target: 4,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 3,
                  target: 5,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 5,
                  target: 0,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 2,
                  target: 0,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 3,
                  target: 1,
                  weigth: Math.round(Math.random() * 10)},
            {
                  source: 2,
                  target: 1,
                  weigth: Math.round(Math.random() * 10)}
              ];

            setTimeout(function() {
                setInterval(function() {
                    _.each(links, function(l) {
                        l.weigth = Math.round(Math.random() * 10);
                    });

                    mainRouter.pageView().updateLinks(links);
                }, 500);
            }, 2000);*/
            
        });

    </script>
{% endblock js %}
