{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}{{app_name}}/custom.css" >
{% endblock css %}

{% block managers %}
    {% searchmanager 
        id="appSearchManager" 
        search="$searchquery$"|token_safe
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        preview=True 
        required_field_list="*"
        autostart=False %}
{% endblock managers %}

{% block content %}
    <div id="content">
        <div class="row" id="searchPanel">
            {% searchbar
                id="appSearchBar" 
                managerid="appSearchManager"
                value="$searchquery$"|token_safe
                timerange_earliest_time="$earlyval$"|token_safe
                timerange_latest_time="$lateval$"|token_safe
                earliest_time="$earlyval$"|token_safe
                latest_time="$lateval$"|token_safe
                default="" %}
            {% searchcontrols 
                id="appSearchControls" 
                managerid="appSearchManager" %}
        </div>
        <div class="row">
            <svg width="800" height="600" />
        </div>
        <div class="row">
            <button id="btnSave" class="btn" type="button"><i class="icon-export"></i> Save</button>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>

        // Configure require config for bower components
        require.config({
            paths: {
                'd3': '{{STATIC_URL}}{{app_name}}/bower_components/d3/d3'
            },
            shim: {
                'd3': {
                    deps: ['jquery']
                }
            }
        });

        // Start with require if you need to execute some js code
        require([
            'backbone',
            'underscore',
            'sam/routers/router',
            'splunkjs/ready!'], function(Backbone, _, Router) {
            var mainRouter = new Router();
            Backbone.history.start();

            var links = [ {
                  source: 0,
                  target: 5,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 0,
                  target: 2,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 1,
                  target: 3,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 2,
                  target: 4,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 3,
                  target: 5,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 5,
                  target: 0,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 2,
                  target: 0,
                  weigth: Math.round(Math.random() * 10)},
              {
                  source: 3,
                  target: 1,
                  weigth: Math.round(Math.random() * 10)},
            {
                  source: 2,
                  target: 1,
                  weigth: Math.round(Math.random() * 10)}
              ];

            setInterval(function() {
                _.each(links, function(l) {
                    l.weigth = Math.round(Math.random() * 10);
                });

                mainRouter.pageView().updateLinks(links);
            }, 500);
        });

    </script>
{% endblock js %}
